In [ ]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime, timedelta

In [ ]:
res = requests.get('https://finance.naver.com/sise/sise_index_day.naver?code=KOSPI&page=1')
soup = BeautifulSoup(res.content, 'html.parser')

In [ ]:
start_date = datetime(2022, 4, 1)
end_date = datetime(2022, 3, 24)

In [ ]:
trs = soup.find_all('tr')
for tr in trs:
  if tr.find('td', 'date'):
    dates = tr.find('td', 'date')
    date = dates.get_text()
    target = datetime.strptime(date, '%Y.%m.%d')
    if end_date < target < start_date:
      print(target)
      print(tr.find('td', 'number_1').get_text())

2022-03-31 00:00:00
2,757.65
2022-03-30 00:00:00
2,746.74
2022-03-29 00:00:00
2,741.07
2022-03-29 00:00:00
2,741.07
2022-03-28 00:00:00
2,729.56
2022-03-25 00:00:00
2,729.98